.Tilt{
    background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100% );
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.logo-c{
    margin: 40px;
    border-radius: 10px;
    display: block;
}